body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #000000;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #00121b;
    border-bottom: 1px solid #00aaff;
}

header .socials a {
    color: rgb(255, 255, 255);
    margin-left: 18px;
    font-size: 30px;
    transition: 0.3s ease;
}

header .socials a:hover {
    color: #00aaff;
}

.container {
    width: 95%;
    margin: 40px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero img {
    width: 350px;
    height: 375px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #00aaff;
    box-shadow: 0 0 20px #fcfdfd55;
}

h1 {
    font-size: 50px;
    margin: 0;
    font-family: 'Cinzel Decorative', serif;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
    border-left: 7px solid #00aaff;
    padding-left: 15px;
}

.cv-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 25px;
    background: #00aaff;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 20px;
    margin-bottom: 40px;
}

.cv-btn:hover {
    background: white;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 90px;
}

.skill {
    padding: 10px 28px;
    background: #434344;
    border: 1px solid #00aaff;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s ease;
    font-size: 18px;
}

.skill:hover {
    background: #00aaff;
    color: black;
}

.contact-section {
    margin-top: 5px;
    padding: 20px;
    background: #00121b;
    border-radius: 12px;
    box-shadow: 0 0 20px #6193df;
    margin-bottom: 90px;
}

.contact-item {
    font-size: 21px;
    margin: 12px 0;
    margin-bottom: 15px;
}

.contact-item a {
    color: #00aaff;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.3s ease;
}

.contact-item a:hover {
    color: aliceblue;
}

.contact-item i {
    margin-right: 10px;
    color: #00aaff;
}

.address-section {
    margin-top: 5px;
    padding: 20px;
    background: #00121b;
    border-radius: 12px;
    box-shadow: 0 0 20px #6193df;
}

.address-section i {
    margin-right: 10px;
    color: #6193df;
}

.address-section a {
    color: #00aaff;
    font-size: 19px;
    transition: 0.3s ease;
}

.address-section a:hover {
    color: aliceblue;

}
@media (max-width: 600px) {
  .section {
    flex-direction: column;
    text-align: center;
  }
}




